<%= simple_form_for [commentable, Comment.new] do |f| %>
	<div class="form-group">
		<%= f.input :body, class: "form-control", placeholder: "Add a comment...", label: false, input_html: {style: 'max-width: 100%; min-width: 100%', rows: 2} %>
	</div>
	<%= f.submit class: "btn btn-primary" %>
<% end %>
